body, header, nav, main, footer, h1, div, img{
	margin: 0;
	padding: 0;
	border: 0;
} 

body{
	background-color: lightBlue;
	background-position: center;
}
#WWII {
	display: block;
	width: 1000px;
	height: 450px;
	border: 5px ridge black;
	float: right;
	margin: 0 5em 4em;
}
.webpage{
	background-color: lightGray;
	border: 5px ridge black;
}

header{
	border: 5px ridge black;
	background-color: lightGray
}
header h1{
	text-align: center;
	font-size: 100px;
	font-family: 'Pixelify Sans', serif;
}

.red{
	color: red;
}

.blue{
	color: blue;
}

.green{
	color: green;
}

.yellow{
	color: yellow;
}

.orange{
	color: orange;
}

nav ul{
	list-style-type: none;
	margin: 1 5em;
	width: 1780px;
	text-align: center;
	
}

nav li{
	display: block;
	margin: 1em;
	font-family: 'Pixelify Sans', serif;
	font-size: 1.75em;
	font-weight: bold;
	background-color: lightGray;
	border: #000 ridge 5px;
	border-radius: 20px;
}

nav li a{
	display: block;
	text-decoration: none;
	color: black;
	padding: .5em 1em;
}

nav li:hover{
	background: gray 20px;
}

main h1{
	text-align: center;
}
main h2{
	text-align: center;
}

main h6{
	text-align: center;
}

#first{
	color: purple;
}

#second{
	color: darkCyan;
}

#about-main{
	margin: 0 auto;
	width: 50%;
}

a{
	text-decoration: none;
}

#funny1{
	width: 500px;
	height: 450px;
	border: 5px ridge black;
	margin: 0 5em 4em;
}

#amogus{
	border: 5px ridge black;
	float: right;
}

#amogus-2{
	border: 5px ridge black;
	float: left;
}

table, th, td{
	border: 1px solid;
	margin: 0 28% 0;
	background-color: lightGray
}

td {
	text-align: center;
}

tr a{
	text-decoration: none;
}

.favorites{
	text-align: center;
	list-style-type: none;
	padding-left: 0;
	font-size: 2em;
	outline: #000 ridge 6px;
	width: 26.5%;
	margin: 0% auto;
	margin-top: 1em;
	background-color: lightGray;
}

.items{
	color: black;
}

#ambrose-world{
	border: 5px solid #000;
	width: 100%;
}

 /*audio {
	display: none;
}*/

footer{
	bottom: 0;
}
footer p{
	text-align: center;
}

footer p a{
	text-decoration: none;
	color: black;
}