body, header, nav, main, footer, h1, div, img, ul{
	margin: 0;
	padding: 0;
	border: 0;
} 

body {
	background-color: #152238;
	/*background-position: center;*/
}
#WWII {
	display: block;
	width: 1000px;
	height: 450px;
	border: 5px ridge black;
	float: right;
	margin: 0 5em 4em;
}
.webpage {
	background-color: lightGray;
	border: 5px ridge black;
	border-radius: 20px;
}

header {
	border: 5px ridge black;
	background-color: purple;
	margin: 0 auto;
	width: 85%;
	border-radius: 70px;
}
header h1 {
	text-align: center;
	font-size: 100px;
	font-family: 'Pixelify Sans', serif;
}

nav {
	width: 100%;
}

nav ul {
	list-style-type: none;
	margin: 0 2%;
	text-align: center;
	
}

nav li {
	display: block;
	margin: 1em;
	font-family: 'Pixelify Sans', serif;
	font-size: 1.75em;
	font-weight: bold;
	background-color: lightGray;
	border: #000 ridge 5px;
	border-radius: 20px;
}

nav li a {
	display: block;
	text-decoration: none;
	color: black;
	padding: .5em 1em;
}

nav li:hover {
	background: gray 20px;
	box-shadow: 5px 5px 10px yellow;
}

main h1 {
	text-align: center;
}

main h2 {
	text-align: center;
}

main h6 {
	text-align: center;
}

#first {
	color: purple;
}

#second {
	color: darkCyan;
}

#about-main {
	margin: 0 auto;
	width: 50%;
}

a {
	text-decoration: none;
}

#funny1 {
	width: 500px;
	height: 450px;
	border: 5px ridge black;
	margin: 0 5em 4em;
}

table {
	border: 1px solid #000;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

caption {
	font-size: 1.5em;
	font-weight: bold;
	padding: 1%;
}

td a:hover {
	color: blue;
}

td, th {
	border: 1px solid #000;
	padding: 2%;
}

th {
	background-color: #000;
	color: #fff;
	font-size: 1.15em;
	border: 1px solid #fff;
}

td {
	text-align: center;
	background-color: #fff;
}

td a {
	text-decoration: none;
	color: #000;
	font-style: 50px;
}

#team-fortress-2 {
	background-color: tan;
	border: 5px solid black;
}

#overwatch-2 {
	background-color: white;
	border: 5px solid black;
}

#ambrose-world {
	border: 5px solid #000;
	width: 100%;
}

#form {
	margin-top: 2%;
	background-color: pink;
	padding: 2%;
	width: auto;
}

#form h2 {
	text-align: center;
}

fieldset, input, select, textarea {
	margin-top: 0.5%;
	margin-bottom: 2%;
}

fieldset legend {
	font-weight: bold;
	font-size: 50px;
}

fieldset p {
	font-size: 25px;
}

label {
	display: block;
	padding-top: 3%;
	font-size: 25px;
}

 /*audio {
	display: none;
}*/

footer {
	bottom: 0;
}
footer p {
	text-align: center;
}

footer p a {
	text-decoration: none;
	color: black;
}