body, header, nav, main, footer, h1, div, img{
	margin: 0;
	padding: 0;
	border: 0;
} 

body{
	background-color: lightBlue;
}
#WWII {
	display: block;
	width: 1000px;
	height: 450px;
	border: 5px solid red;
	float: right;
}
.webpage{
	background-color: LightGreen;
	border: 5px solid;
}

header{
	border: 5px ridge black;
	background-color: lightGray;
}
header h1{
	text-align: center;
	font-size: 100px;
}

nav ul{
	list-style-type: none;
	margin: 20px;
	text-align: center;
}

nav li{
	display: inline-block;
	font-size: 1.75em;
	font-weight: bold;
	background-color: lightGray;
}

nav li a{
	display: block;
	text-decoration: none;
	color: black;
	padding: .5em 1em;
	outline: #000 ridge 6px;
}

main h1{
	text-align: center;
}
main h2{
	text-align: center;
}

main h6{
	text-align: center;
}

a{
	text-decoration: none;
	color: black;
}

#funny1{
	width: 500px;
	height: 450px;
	border: 5px solid blue;
	filter: grayscale(100%) sepia(100%) brightness(200%) saturate(800%);
}

#amogus{
	border: 5px ridge black;
	float: right;
}

#amogus-2{
	border: 5px ridge black;
	float: left;
}

table, th, td{
	border: 1px solid;
	margin: 0 28% 0;
}

td {
	text-align: center;
}

tr a{
	text-decoration: none;
}

.favorites{
	text-align: center;
	font-size: 2em;
}

li{
	margin: 0% auto;
	list-style-type: none;
}

#ambrose-world{
	border: 5px solid #000;
	margin: center;
}

 /*audio {
	display: none;
}*/

footer{
	bottom: 0;
}
footer p{
	text-align: center;
}

footer p a{
	text-decoration: none;
}